/*GLOBAL*/
/*colors: body:382c2b, headings:3496d1, header:0E2838, p:000000, ul:382C2B footer:#0E2838, a:ffffff, */

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    /*GIVE HTML AND BODY 100% WIDTH AND HEIGHT B/C*/
}

body {
    margin: 0%;
    padding: 0%;
}

li {
    text-decoration:none;
}

a {
    color:#000;
    text-decoration:none;
}

h1, h2 {
    color:#000;
}

p {
    color:#000;
}


/*HEADER*/

#header {
    background-color:#333;
    border-radius: 2px;
    opacity: 0.7;
    width:;
    height:8%;
    padding:5px;
}

/*MAIN*/

#main {
    margin:0 5%;
}

#centerHead {
    /*margin-right: 300px;*/
}


.mainWidth {
    width:100%;
    margin:0% auto;
    margin-top:26%;
    margin-bottom:30%;
}

#main {
    margin-top: 5%;
}

/*GALLERY*/
#logo {
    /*width: 350px;*/
    float: left;
}
/*.gallery {*/
/*    width: 500px;*/
    /*float:left;*/
/*    margin:0px auto;*/
/*}*/

/*BUTTONS*/
.button {
    color:blue;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}

.button:hover {
    text-decoration: underline;
    color:black;
}

/*for index btns*/
#indBtnDiv {
    margin: 0 10%;
}

#floatLeft {
    /*padding-right: 50%;*/
}

#centerBtn {
    margin-left: 35.5%;
}

#floatRight {
    float: right;
}

/*FOOTER*/
 footer {
      background-color:#333;
      display: inline-block;
      font-family: 'Raleway', sans-serif;
      height: auto;
      opacity:0.7;
      text-align:center;
      width:100%;
 }
 
#footer p {
    /*padding:25px;*/
    color:#fff;
}

/*EXTRAS*/

.alignTitleMid {
    font-weight: 700;
    text-align:center;
}

/*.indexImg {*/
/*    position:relative;*/
/*    right:500px;*/
/*    left:530px;*/
/*    margin-top:10px;*/
    
/*}*/

 /*heading needs to be black*/
.black {
color:black;
}
