/*GLOBAL*/
/*colors: body:382c2b, headings:3496d1, header:0E2838, p:000000, ul:382C2B footer:#0E2838, a:ffffff, */

html, body {
    width:100%;
    height:100%;
    font-family: 'Raleway', sans-serif;
    /*GIVE HTML AND BODY 100% WIDTH AND HEIGHT B/C*/
}

body {
    margin:0px;
    padding:0px;
}

li {
    text-decoration:none;
}

a {
    color:#000;
    text-decoration:none;
}

h1, h2 {
    color:#000;
}

p {
    color:#000000;
}


/*HEADER*/

#header {
    background-color:#000;
    border-radius: 2px;
    opacity: 0.7;
    /*width:;*/
    height:150px;
    padding:5px;
    
}

/*NAV */
#nav {
    position:relative;
    right:550px;
    left:530px;
    bottom: 90px;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#drop-nav .border {
      display: block;
      position: relative;
      float: left;
      /*border-top:1px solid #000;*/
      /*border-bottom:1px solid #000;*/
}

li ul {
  display: none;
}
  
#drop-nav .border a {
      display: block;
      /*background: ;*/
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      font-weight: 900;
}
  
/*#drop-nav li a:hover {*/
/*      background: #fff;*/
      
/*}*/
  
li:hover ul {
      display: block; 
      position: absolute;
}
  
li:hover li {
    float: none;
}
  
/*li:hover a {*/
/*    background-color: #999;*/
/*}*/
  
/*li:hover li a:hover {*/
/*    background-color: #fff;*/
/*}*/
  
#drop-nav li ul li {
    border-top: 0px;
      
}
  
.currentPage a {
    color:black;
}

#nav .border:hover .drop {
    opacity:0.7;
    background-color: #999;
}

#nav .border:hover .drop {
    opacity:0.7;
    background-color: #999;
}

#nav ul .drop a:hover {
    color:#000;
}

/*MAIN*/

#main {
    margin:0px 10px;
}

#centerHead {
    margin-right: 300px;    
}

.mainWidth {
    width:1200px;
    margin:0px auto;
    margin-top:26px;
    margin-bottom:30px;
}

/*GALLERY*/
#logo {
    width: 350px;
}
.gallery {
    width: 500px;
    /*float:left;*/
    margin:0px auto;
}

/*BUTTONS*/
.button {
    color:blue;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}

.button:hover {
    text-decoration: underline;
    color:black;
}

#indButtons {
    margin:90px;
    position:relative;
    right:550px;
    left:340px;
}

#pushLeft {
    padding-right: 50px;
}

#pushRight {
    padding-left: 50px;
}

/*FOOTER*/
 footer {
      text-align:center;
      background-color:#000;
      height:150px;
      opacity:0.7;
      font-family: 'Raleway', sans-serif;
 }
 
#footer p {
    padding:25px;
    color:#fff;
}

/*EXTRAS*/

.alignTitleMiddle {
    text-align:center;
}

.indexImg {
    position:relative;
    right:500px;
    left:530px;
    margin-top:10px;
    
}

 /*heading needs to be black*/
.black {
color:black;
}

/*slideshow*/

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}